<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"seijaku-fse/home-hero"} /-->
	<!-- wp:pattern {"slug":"seijaku-fse/home-featured-themes"} /-->
	<!-- wp:pattern {"slug":"seijaku-fse/home-about"} /-->
	<!-- wp:pattern {"slug":"seijaku-fse/home-music-themes-cta"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->
