<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","className":"wolf-section-pad\u002d\u002dbig","layout":{"type":"constrained"}} -->
<main class="wp-block-group wolf-section-pad--big">
	<!-- wp:group {"align":"wide","layout":{"type":"constrained","contentSize":"44rem"}} -->
	<div class="wp-block-group alignwide">
		<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|5"}},"layout":{"type":"constrained"}} -->
		<div class="wp-block-group" style="gap:var(--wp--preset--spacing--5)">
			<!-- wp:post-date {"fontSize":"xs"} /-->
			<!-- wp:post-title {"level":1,"fontSize":"3-xl"} /-->
			<!-- wp:post-featured-image {"isLink":false} /-->
			<!-- wp:post-content /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->
