@use 'tokens' as *;

.wolf-stats-band {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: space(7);
	// background: $c-secondary;
	// color: $c-base;
	padding-block: space(10);
	text-align: center;

	@include until($bp-md) {
		grid-template-columns: 1fr;
		gap: space(6);
	}
}

.wolf-blocks-stats-counter__number {
	font-family: $f-heading;
	color: inherit;
}

.wolf-blocks-stats-counter__title {
	color: inherit;
	opacity: 0.7;
}
