// =============================================================
//  Wolf Blocks countdown
// =============================================================

@use "../tokens" as *;

.wp-block-wolf-blocks-countdown,
.wolf-blocks-countdown {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: space(4);
	text-align: center;

	&__unit {

		strong {

			@include until($bp-sm) {
				font-size: 1.2em;
			}
		}
	}

}

.wolf-countdown-banner {

    .wolf-blocks-countdown__units {
		gap: space(4);
		justify-content: center;
    }

	.wolf-blocks-countdown__unit {
		flex-direction: row;
		gap: space(2);
	}
}

