<!-- wp:template-part {"slug":"header","area":"header","tagName":"header","theme":"seijaku-fse"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">

	<!-- wp:group {"tagName":"section","className":"wolf-archive-header wolf-section-pad--small","align":"full","layout":{"type":"constrained","contentSize":"var(--wp--style--global--wide-size)"}} -->
	<section class="wp-block-group alignfull wolf-archive-header wolf-section-pad--small">
		<!-- wp:query-title {"type":"archive"} /-->
		<!-- wp:paragraph -->
		<p>Fast, beautiful, and built to last.<br>WordPress themes for musicians, artists,<br>and the brands they're building.</p>
		<!-- /wp:paragraph -->

	</section>
	<!-- /wp:group -->

	<!-- wp:group {"tagName":"section","className":"wolf-grid","align":"full","layout":{"type":"constrained","contentSize":"var(--wp--style--global--wide-size)"}} -->
	<section class="wp-block-group alignfull wolf-grid">

		<!-- wp:wolf-store/theme-index {"perPage":12,"pagination":"numbers","orderby":"date","order":"DESC","sidebar":true} /-->

	</section>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer","theme":"seijaku-fse"} /-->
