<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"seijaku-fse/services-hero"} /-->
	<!-- wp:pattern {"slug":"seijaku-fse/services-intro"} /-->
	<!-- wp:pattern {"slug":"seijaku-fse/services-how-it-works"} /-->
	<!-- wp:pattern {"slug":"seijaku-fse/services-process"} /-->
	<!-- wp:pattern {"slug":"seijaku-fse/services-pricing"} /-->
	<!-- wp:pattern {"slug":"seijaku-fse/services-project-cta"} /-->
	<!-- wp:pattern {"slug":"seijaku-fse/services-tweaks-faq"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->
